@font-face {
    font-family: 'angel';
    src: url('../../../font/Angel wish.ttf') format('truetype');
   
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  
  
  html {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* a:active {
    color: #c5c5c5;
  } */
  
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  
  
  img {
    display: block;
    max-width: 100%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #857e7e;
  }
  
  button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1);
    color: #1a1a1a;
    background-color: #c5c5c5;
  }
  
  
  .container {
    max-width: 1100px;
    padding: 60px 50px;
    margin: 0 auto;
  }
  
  :focus {
    outline: none;
  }