body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 50px;
        /* outline: 2px solid red; */
        }
        
        .nav__list {
        margin-bottom: 20px;
        font-size: 25px;
        }
        
        .nav__link:hover {
        color: blue;
        }
        
        .home__link {
        font-size: 35px;
        
        }
    
        input {
            border: 1px solid #aaa;
            border-radius: 3px;
        }
    
        input:focus {
            outline: none;
            border: 1px solid #aaa;
        }