.cart {
    background-color: #857e7e;
  }
  
  
  .cart_item {
    margin: 0 auto;
    border-radius: 25px;
    height: 200px;
  
    color: #c5c5c5;
    background-color: #1a1a1a;
  
    display: flex;
    align-items: center;
  }
  
  .cart_item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .cart_img {
    height: 180px;
    margin-left: 20px;
  }
  
  .cart_box {
    margin-left: 20px;
    width: 150px;
  }
  
  .cart_name {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .cart_size {
    
  }
  
  .cart_count_box {
    display: flex;
    margin-left: 250px;
  }
  
  .cart_count_button {
    width: 50px;
    height: 50px;
    padding-bottom: 3px;
    border: none;
    background-color: #1a1a1a;
    border: 1px solid #7a002b;
    color: #c5c5c5;
  
    outline: none;
    box-shadow: none;
    transform: scale(1);
    font-size: 25px;
    transition: color 0.4s ease, text-shadow 0.4s ease;
  }
  
  .cart_count_button:focus, .cart_count_button:hover {
    color: #7a002b;
    text-shadow: 0 0 20px #7a002b, 0 0 30px #7a002b;
  
    outline: none;
    box-shadow: none;
    transform: scale(1)
  }
  
  .cart_count_button:focus {
    background-color: #1a1a1a;
    color: #c5c5c5;
  }
  
  .cart_count_button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .cart_count_button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .cart_count {
    width: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #c5c5c5;
    background-color: #1a1a1a;
    border-top: 1px solid #7a002b;
    border-bottom: 1px solid #7a002b;
  }
  
  
  .cart_price {
    margin: 0 auto;
    font-size: 18px;
  }
  
  .cart_delete_button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: #c5c5c5;
    
  }
  
  .cart_delete_button:focus {
    background-color: transparent;
  }
  
  .close_icon {
    width: 30px;
    height: 30px;
  
    fill: #c5c5c5;
    transition: fill 0.4s ease;
  }
  
  .close_icon:hover {
    fill: #7a002b;
  }