<footer>
    <h1 class="footer_title">SEVENTY EIGHT</h1>
    <div class="footer_list">
      <a href="" class="footer_link">Delivery</a>
      <a href="" class="footer_link">Returns</a>
      <a href="" class="footer_link">Privacy Policy</a>
    </div>
    <div class="footer_sm">
      <a href="" class="footer_link_icon">
        <svg class="footer_icon mail">
          <use href="./imgs/svgs/symbol-defs.svg#email"></use>
        </svg>
      </a>
      <a href="" class="footer_link_icon">
        <svg class="footer_icon inst">
          <use href="./imgs/svgs/symbol-defs.svg#inst"></use>
        </svg>
      </a>
      <a href="" class="footer_link_icon">
        <svg class="footer_icon telegram">
          <use href="./imgs/svgs/symbol-defs.svg#telegram"></use>
        </svg>
      </a>
    </div>
  </footer>