<header class="header">
    <a class="logo" href="./index.html">
      78
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="./index.html" class="nav_link">Home</a>
        </li>
        <li class="nav_item">
          <a href="" class="nav_link">???</a>
        </li>
        <li class="nav_item">
          <a target="_blank" href="" class="nav_link">Instagram</a>
        </li>
      </ul>
    </nav>

    <div class="cart_container">
      <button type="button" class="header_button cart_button" id="cartButton">
        <svg class="bag_icon">
          <use href="./imgs/svgs/symbol-defs.svg#bag"></use>
        </svg>
      </button>
      <div class="cart_number"></div>
    </div> 
  </header>