<div class="container">
    <section class="products">
      <ul class="products_list">
        <li class="products_item one">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                11111111
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        <li class="products_item">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                2222222222
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        <li class="products_item">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                33333333333
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        <li class="products_item">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                4444444444
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        <li class="products_item">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                555555555555
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        <li class="products_item">
          <div class="products_box">
            <img src="https://optim.tildacdn.com/tild3763-3565-4633-b037-346338653065/-/format/webp/PFVTYF.png" alt="" class="products_img">
            <div class="products_container">
              <p class="products_name">
                66666666666
              </p>
              <p class="products_price">
                3500<span class="price_gap"></span>₴
              </p>
              <button type="button" class="products_button">
                BUY
              </button>
            </div>
          </div>
        </li>
        
      </ul>
    </section>


    <div class="products_modal">
      
    </div>

  </div>